<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @muscular_group.name %>
</p>

<%= link_to 'Edit', edit_muscular_group_path(@muscular_group) %> |
<%= link_to 'Back', muscular_groups_path %>
